<div class="container-fluid">
  <div class="right_container">
    <div class="row mb-3">
      <div class="col-sm-3">
        <div class="box_dash bg-smile text-cofecolor">
          <div class="widget-content">
            <i class="fa fa-university icon_fa" aria-hidden="true"></i>
            <div class="widget-content-left">
              <div class="widget-heading">Items</div>
            </div>
            <div class="widget-content-right mr-auto">
              <div class="widget-numbers"><span>56</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="box_dash bg-midnight dash_list text-cofecolor txt_center">
          <div class="widget-content">
            <i class="fa fa-graduation-cap icon_fa" aria-hidden="true"></i>
            <div class="widget-content-left">
              <div class="widget-heading">Orders</div>
            </div>
            <div class="widget-content-right mr-auto">
              <div class="widget-numbers"><span>117</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="box_dash bg-grow dash_list txt_center text-cofecolor">
          <div class="widget-content">
            <i class="fa fa-random icon_fa" aria-hidden="true"></i>
            <div class="widget-content-left">
              <div class="widget-heading">Delivered Orders</div>
            </div>
            <div class="widget-content-right">
              <div class="widget-numbers"><span>152</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="dash_review">
          <div class="review_list_db">
            <div class="rating_sections row">
              <div class="col-sm-12">
                <div class="overal_ratingblock">
                  <div class="title_rating">Overall Rating</div><br />
                  <div class="rati_nu"><span>4.5</span>/ 5</div>
                  <div class="star_reviews">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="dash_review">
          <div class="review_list_db">
            <div class="rating_sections row">
              <div class="col-sm-12">
                <div class="single_rating">
                  <ul>
                    <li>
                      <span>5<i class="fa fa-star" aria-hidden="true"></i></span>
                      <div class="progress">
                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:90%">90%</div>
                      </div>
                    </li>
                    <li>
                      <span>4<i class="fa fa-star" aria-hidden="true"></i></span>
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:70%">70%</div>
                      </div>
                    </li>
                    <li>
                      <span>3<i class="fa fa-star" aria-hidden="true"></i></span>
                      <div class="progress">
                        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width:60%">60%</div>
                      </div>
                    <li>
                      <span>2<i class="fa fa-star" aria-hidden="true"></i></span>
                      <div class="progress">
                        <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" style="width:40%">40%</div>
                      </div>
                    </li>
                    <li>
                      <span>1<i class="fa fa-star" aria-hidden="true"></i></span>
                      <div class="progress">
                        <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width:20%">20%</div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <a><img src="../assets/graph1.jpg" alt="logo" class="imglogos"></a>
      </div>
      <div class="col-md-12 col-lg-6">
        <a><img src="../assets/piechart.png" alt="logo" class="chart"></a>
      </div>
      <div class="col-sm-6">
        <div class="dash_reviewlists">
          <div class="review_db_approve">
            <div class="title_db">Reviews</div>
            <div class="reviews_lists">
              <ul>
                <li>
                  <span class="avta_img"> <img src="../assets/user1.png" alt="" title="" /></span>
                  <p><span>Michelin Mark</span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                  <div class="row review_btnsblock">
                    <div class="col-sm-6">
                      <ul class="reviwe_edit">
                        <li><a><i class="fa fa-times-circle" aria-hidden="true"></i>Reject </a></li>
                        <li><a><i class="fa fa-check-circle" aria-hidden="true"></i> Approve</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li>
                  <span class="avta_img"> <img src="../assets/user2.png" alt="" title="" /></span>
                  <p><span>Asutosh Patel</span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                  <div class="row review_btnsblock">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                      <ul class="reviwe_edit">
                        <li><a class="approve_review"><i class="fa fa-check-circle" aria-hidden="true"></i> Approve</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
